header {
  font-family: Edu Tas Beginner, sans-serif;
  font-weight: bolder;
  background-image: url("../img/wall.png");
  background-repeat: repeat;
  background-size: contain;
}

body {
  font-family: Sometype Mono, monospace;
  background-image: url("../img/cork.png");
  background-repeat: repeat;
  background-size: contain;
}